node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
package-lock.json


# IDE
.vscode
.idea

# Claude
.claude
CLAUDE.md

.npmignore
.prettierrc.js
.editorconfig
.eslintrc.js
.eslintrc.prepublish.js
